<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>32330261850-cfeehg6r3mvvgo6fpe7f44h9gb4odvvr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.32330261850-cfeehg6r3mvvgo6fpe7f44h9gb4odvvr</string>
	<key>API_KEY</key>
	<string>AIzaSyAFaRyTpWSZa26x2ixc9qtylbbiv6wf9DA</string>
	<key>GCM_SENDER_ID</key>
	<string>32330261850</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.team11.qrcode</string>
	<key>PROJECT_ID</key>
	<string>qrcode-339e8</string>
	<key>STORAGE_BUCKET</key>
	<string>qrcode-339e8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:32330261850:ios:31db6d7dde3d7604c27f63</string>
</dict>
</plist>